<a href="https://colab.research.google.com/github/ConstanzaG/Proyecto-Final-Grupo4-Turismo/blob/main/Limpieza_datos_alojamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Carga de datos

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
	print('User uploaded file "{name}" with length {length} bytes'.format(
name=fn, length=len(uploaded[fn])))

Saving Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_-año-2017-2018.xlsx to Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_-año-2017-2018.xlsx
Saving Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_por-destino_serie-2014-2017-1.xlsx to Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_por-destino_serie-2014-2017-1.xlsx
User uploaded file "Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_-año-2017-2018.xlsx" with length 4746192 bytes
User uploaded file "Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_por-destino_serie-2014-2017-1.xlsx" with length 1032756 bytes

In [ ]:
from pandas._libs import index
# Carga de información
#accidentes = pd.read_csv('%s/Accidents.csv'%ruta)
#df1_v2 = pd.read_excel(file_name_xlsm,sheet_name=sheet_name_1, header = 3)
archivo_1 = "Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_por-destino_serie-2014-2017-1.xlsx"
archivo_2 = "Estadísticas-de-Establecimientos-de-Alojamiento-Turístico_-año-2017-2018.xlsx"

df1 = pd.read_excel(archivo_1, sheet_name="C4", header = 6)
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,enero,febrero,marzo,abril,mayo,junio,julio,...,abril.5,mayo.5,junio.5,julio.5,agosto.5,septiembre.5,octubre.5,noviembre.5,diciembre.5,Total anual.6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Total Nacional,2.093010,2.158748,1.937615,1.924046,1.929202,1.894789,2.106916,...,4.002808,-0.596586,1.897250,1.541148,1.223939,1.862945,1.740004,0.681707,0.200964,1.627451
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Arica y Parinacota,2.134201,1.865553,2.081836,1.778958,1.945236,2.079579,2.030987,...,2.994551,6.771670,-2.740381,4.688979,7.356067,15.404376,0.500942,8.076046,6.962585,3.385083
4,NaN,NaN,Arica,2.164515,1.889788,2.079170,1.799996,1.964623,2.095390,2.034672,...,3.130179,7.684397,-2.840661,5.717810,8.160233,15.272954,-1.081744,5.950057,5.956302,3.138006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,NaN,Fuente: Encuesta Mensual de Alojamiento Turíst...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,"Elaboración: Departamento de Estadísticas, SER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,Ref/ Corresponde a la cifras referenciales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,P/ Corresponde a las cifras provisiorias y ofi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2 = pd.read_excel(archivo_2, sheet_name="4", header = 5)
df2

,Unnamed: 0,Unnamed: 1,enero,febrero,marzo,abril,mayo,junio,julio,agosto,...,Unnamed: 58,2018-11-01 00:00:00,Unnamed: 60,Unnamed: 61,2018-12-01 00:00:00,Unnamed: 63,Unnamed: 64,Total anual 2018.1,Unnamed: 66,Unnamed: 67
0,NaN,Total nacional,2.137742,2.195750,1.935971,1.991776,1.966248,1.935457,2.096810,2.033277,...,-5.146308,1.649428,-6.151309,-1.602349,0.986936,-14.435175,-5.443534,0.225460,-0.193565,-0.394555
1,NaN,Región de Arica y Parinacota,2.142011,2.373839,2.154079,2.388004,2.183444,2.052571,1.936762,2.046473,...,8.614021,-22.266595,-27.650585,-22.952307,-14.792423,-4.820825,-13.061353,-4.008124,-18.879078,-6.416125
2,NaN,Arica,2.144574,2.390973,2.177297,2.418749,2.201609,2.052370,1.938347,2.062387,...,9.468656,-22.370692,-37.939175,-24.500153,-15.013224,-6.925552,-13.743872,-3.950544,-20.828104,-6.511370
3,NaN,Camarones y Putre,2.065160,1.892628,1.633531,1.785196,1.684818,2.058501,1.900000,1.766834,...,-3.587945,-21.910597,13.397205,1.601302,1.122510,12.115784,8.007795,-10.213601,-3.754767,-6.582133
4,NaN,Región de Tarapacá,2.239173,2.557463,2.193095,1.901880,2.053996,1.992852,2.133743,1.970444,...,8.393165,-9.059176,-2.795505,-8.114651,-2.039512,-10.510133,-3.624620,4.715772,-0.494886,3.356213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,Las cifras totales de los niveles se presentan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,(1) Corresponde a la modalidad en que se prove...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,(2) Corresponde a establecimientos clasificado...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,(3) Corresponde a establecimientos clasificado...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Limpieza de datos

In [ ]:
# modificar nombre columna region
df1.rename({'Unnamed: 2': 'región'}, axis=1, inplace=True)
df2.rename({'Unnamed: 1': 'región'}, axis=1, inplace=True)

In [ ]:
# eliminar columnas sin nombres
df1.drop(df1.filter(regex="Unname"),axis=1, inplace=True)
df2.drop(df2.filter(regex="Unname"),axis=1, inplace=True)

# eliminar primera fila
borrar1 = df1[ df1['región'] == 'Total Nacional'].index
df1.drop(borrar1 , inplace=True)
borrar2 = df2[ df2['región'] == 'Total nacional'].index
df2.drop(borrar2 , inplace=True)

# Eliminar filas nulas
#df1 = df1.dropna(how='all')
df1 = df1.dropna()
df2 = df2.dropna()
df1

,región,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,...,abril.5,mayo.5,junio.5,julio.5,agosto.5,septiembre.5,octubre.5,noviembre.5,diciembre.5,Total anual.6
3,Arica y Parinacota,2.134201,1.865553,2.081836,1.778958,1.945236,2.079579,2.030987,2.144699,2.056836,...,2.994551,6.771670,-2.740381,4.688979,7.356067,15.404376,0.500942,8.076046,6.962585,3.385083
4,Arica,2.164515,1.889788,2.079170,1.799996,1.964623,2.095390,2.034672,2.195432,2.085096,...,3.130179,7.684397,-2.840661,5.717810,8.160233,15.272954,-1.081744,5.950057,5.956302,3.138006
5,Camarones y Putre,1.360552,1.122606,2.140951,1.183639,1.288735,1.552956,1.847460,1.188119,1.382983,...,6.260104,-15.614747,2.585169,-14.771609,3.415068,31.839000,32.960952,37.922974,38.927687,11.621390
6,Tarapacá,2.180394,1.914819,1.978519,1.984737,1.793459,1.866766,1.901293,1.691877,1.861996,...,-5.606716,-4.177066,1.087894,2.067085,-4.276968,-11.125247,-1.462246,2.773562,0.585236,1.536903
7,Iquique,2.199544,1.925147,1.974169,1.988620,1.789965,1.861345,1.898688,1.691293,1.866989,...,-6.003949,-5.301152,0.203789,2.324310,-5.504823,-12.366355,-1.640687,2.319938,-0.983780,1.020267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Carretera Austral Sur,1.868105,1.567435,1.822052,1.488730,1.714167,1.667932,1.642636,1.590262,1.861682,...,39.937615,5.587122,47.804140,-27.824093,-31.987110,-57.569404,-32.193377,-30.899508,-18.507946,8.443134
63,Magallanes y la Antártica Chilena,1.726094,1.731367,1.714039,1.791811,1.773510,1.797885,1.859663,1.803343,1.772379,...,1.394572,3.928297,-2.796206,2.581186,1.123337,-1.523539,-2.292286,2.054643,1.495219,-0.094849
64,Punta Arenas y Estrecho de Magallanes,1.705139,1.671806,1.724600,1.774817,1.838288,1.855430,2.005424,1.882330,1.693046,...,-1.001687,-1.451590,-5.215584,0.782375,2.643183,-3.298818,-4.035127,7.690227,0.527806,-1.074175
65,Torres del Paine y Puerto Natales,1.917072,1.962426,1.869062,2.041579,1.861826,1.952988,1.694832,1.833867,2.142611,...,1.697789,20.547161,7.184534,1.140551,-1.794789,-7.027400,-7.142161,-12.742078,-2.931769,-2.780042
66,Resto región,0.669745,0.460629,0.474583,0.500926,0.568620,0.533109,0.608302,0.666858,0.544213,...,61.388891,74.283996,37.781678,82.261488,32.782163,91.948933,90.217504,96.867834,60.548950,60.071793

In [ ]:
df2

,región,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,...,2018-04-07 00:00:00,2018-05-09 00:00:00,2018-06-10 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,Total anual 2018.1
1,Región de Arica y Parinacota,23301.000000,18149.000000,15785.400000,14197.800000,17241.200000,16754.600000,21775.000000,18479.400000,14042.000000,...,2.462414,-11.256394,-12.831132,-27.163065,-15.700574,-6.251023,-15.780101,13.902077,4.265558,-2.293888
2,Arica,22549.000000,17525.000000,15111.400000,13508.800000,16635.200000,16207.600000,20875.000000,17484.400000,13274.000000,...,2.883115,-10.983093,-12.401128,-28.064925,-16.061147,-6.860428,-16.563806,14.451650,3.497079,-2.300350
3,Camarones y Putre,752.000000,624.000000,674.000000,689.000000,606.000000,547.000000,900.000000,995.000000,768.000000,...,-16.450216,-26.694915,-36.909871,25.524476,-0.284900,20.161290,23.219814,-1.492537,50.717703,-1.971657
4,Región de Tarapacá,69288.177778,47359.555556,34111.488889,32378.022222,32452.022222,35622.800000,39204.733333,33736.511111,30901.000000,...,-27.154870,-19.777642,-29.590247,-4.060618,-23.090443,-12.761349,-1.930961,26.139404,-12.713412,-15.615808
5,Iquique,64953.600000,43479.600000,31221.200000,30176.400000,29476.800000,32643.600000,34414.000000,30312.000000,26779.200000,...,-27.872599,-21.386413,-30.974718,-4.713959,-24.741757,-14.124795,-1.466144,26.742509,-13.352413,-16.631592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Aysén y Coyhaique,17064.183036,20232.736607,14659.459821,10463.575893,9353.116071,6813.504464,7386.665179,8238.852679,9551.308036,...,-20.037904,-25.339759,-5.352511,16.372808,5.459757,-16.220782,-14.545920,-2.276528,-13.797474,-4.259618
62,Región de Magallanes y de la Antártica Chilena,84910.001299,80940.391342,57509.538961,36831.102597,21279.807792,20226.758442,24481.625974,24770.667532,30856.519481,...,-8.665905,19.839542,8.215556,-4.014510,-8.695074,-16.024513,-11.117296,4.052615,-1.453564,-2.333605
63,Punta Arenas y Estrecho de Magallanes,45857.800000,43189.400000,31559.000000,22346.200000,15074.600000,14685.200000,18657.600000,18339.200000,20524.000000,...,-7.635367,24.784334,14.318408,-4.348519,-12.109462,-20.562029,-17.045867,-2.017421,-1.870867,-4.558266
64,Torres del Paine y Puerto Natales,37650.772727,36511.848485,25124.681818,13401.045455,5388.636364,4875.272727,4690.454545,4905.181818,9174.090909,...,-12.320550,1.260340,-18.712592,-2.655527,18.061342,2.202287,7.007494,17.172438,-1.502341,3.882131
65,Resto región,1401.428571,1239.142857,825.857143,1083.857143,816.571429,666.285714,1133.571429,1526.285714,1158.428571,...,-0.493827,-8.823529,16.532258,-1.626016,-30.857143,-39.659367,5.696203,33.615222,25.419664,-3.147974

In [ ]:
df2.columns

Index([            'región',              'enero',            'febrero',
                    'marzo',              'abril',               'mayo',
                    'junio',              'julio',             'agosto',
               'septiembre',            'octubre',          'noviembre',
                'diciembre',   'Total anual 2017',            'enero.1',
                'febrero.1',            'marzo.1',            'abril.1',
                   'mayo.1',            'junio.1',            'julio.1',
                 'agosto.1',       'septiembre.1',          'octubre.1',
              'noviembre.1',        'diciembre.1',   'Total anual 2018',
        2018-01-01 00:00:00,  2018-02-02 00:00:00,  2018-03-06 00:00:00,
        2018-04-07 00:00:00,  2018-05-09 00:00:00,  2018-06-10 00:00:00,
        2018-07-01 00:00:00,  2018-08-01 00:00:00,  2018-09-01 00:00:00,
        2018-10-01 00:00:00,  2018-11-01 00:00:00,  2018-12-01 00:00:00,
       'Total anual 2018.1'],
      dtype='object')

In [ ]:
# convertir datos relevantes de float a int
# no aplica en C4
df1[['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio','julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual', 'enero.1', 'febrero.1', 'marzo.1', 'abril.1', 'mayo.1','junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1','noviembre.1', 'diciembre.1', 'Total anual.1', 'enero.2', 'febrero.2','marzo.2', 'abril.2', 'mayo.2', 'junio.2', 'julio.2', 'agosto.2', 'septiembre.2', 'octubre.2', 'noviembre.2', 'diciembre.2', 'Total anual.2', 'enero/Ref', 'febrero/Ref', 'marzo/Ref', 'abril/Ref', 'mayo/Ref', 'junio/Ref', 'julio/P', 'agosto/P', 'septiembre/P', 'octubre/P', 'noviembre/P', 'diciembre/P', 'Total anual.3']] = df1[['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio','julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual', 'enero.1', 'febrero.1', 'marzo.1', 'abril.1', 'mayo.1','junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1','noviembre.1', 'diciembre.1', 'Total anual.1', 'enero.2', 'febrero.2','marzo.2', 'abril.2', 'mayo.2', 'junio.2', 'julio.2', 'agosto.2', 'septiembre.2', 'octubre.2', 'noviembre.2', 'diciembre.2', 'Total anual.2', 'enero/Ref', 'febrero/Ref', 'marzo/Ref', 'abril/Ref', 'mayo/Ref', 'junio/Ref', 'julio/P', 'agosto/P', 'septiembre/P', 'octubre/P', 'noviembre/P', 'diciembre/P','Total anual.3']].astype(int)
df2[['enero.1','febrero.1', 'marzo.1', 'abril.1', 'mayo.1', 'junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1', 'noviembre.1', 'diciembre.1', 'Total anual 2018']] = df2[['enero.1','febrero.1', 'marzo.1', 'abril.1', 'mayo.1', 'junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1', 'noviembre.1', 'diciembre.1','Total anual 2018']].astype(int)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
# Agrupar valores por año 2014 - 2018

df2014 = df1[['región','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual']]
df2014 = df2014.assign(Año=2014)

df2015 = df1[['región','enero.1', 'febrero.1', 'marzo.1', 'abril.1', 'mayo.1', 'junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1', 'noviembre.1', 'diciembre.1', 'Total anual.1']]
df2015 = df2015.set_axis(['región','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual'], axis=1)
df2015 = df2015.assign(Año=2015)

df2016 = df1[['región','enero.2', 'febrero.2', 'marzo.2', 'abril.2', 'mayo.2', 'junio.2', 'julio.2', 'agosto.2', 'septiembre.2', 'octubre.2', 'noviembre.2', 'diciembre.2', 'Total anual.2']]
df2016 = df2016.set_axis(['región','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual'], axis=1)
df2016 = df2016.assign(Año=2016)

df2017 = df1[['región','enero/Ref', 'febrero/Ref', 'marzo/Ref', 'abril/Ref', 'mayo/Ref', 'junio/Ref', 'julio/P', 'agosto/P', 'septiembre/P', 'octubre/P', 'noviembre/P', 'diciembre/P', 'Total anual.3']]
df2017 = df2017.set_axis(['región','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual'], axis=1)
df2017 = df2017.assign(Año=2017)

df2018 = df2[['región','enero.1','febrero.1', 'marzo.1', 'abril.1', 'mayo.1', 'junio.1', 'julio.1', 'agosto.1', 'septiembre.1', 'octubre.1', 'noviembre.1', 'diciembre.1', 'Total anual 2018']]
df2018 = df2018.set_axis(['región','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'Total anual'], axis=1)
df2018 = df2018.assign(Año=2018)

In [ ]:
df2018

,región,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,Total anual,Año
1,Región de Arica y Parinacota,2.040307,1.914411,2.025604,2.311330,1.993867,1.963539,1.921970,2.097506,2.184427,2.227198,1.898933,1.855892,2.028961,2018
2,Arica,2.045383,1.918258,2.036675,2.333896,2.008708,1.979198,1.943591,2.113114,2.214465,2.268800,1.915165,1.867729,2.045147,2018
3,Camarones y Putre,1.839874,1.762397,1.695652,1.628821,1.585227,1.471239,1.556039,1.807186,1.586314,1.527056,1.594280,1.576169,1.633519,2018
4,Región de Tarapacá,2.236164,2.583687,2.237989,2.218774,2.298437,2.160372,2.047592,2.271625,2.201358,2.204644,1.978069,2.096391,2.211725,2018
5,Iquique,2.256903,2.649593,2.241166,2.221617,2.290192,2.143102,2.031400,2.265510,2.211880,2.190164,1.959136,2.094037,2.214477,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Carretera Austral Sur,1.892788,1.538133,1.935417,2.086598,2.910835,1.515487,1.385629,1.916584,1.901571,2.448306,1.603755,1.817542,1.836088,2018
62,Región de Magallanes y de la Antártica Chilena,1.738423,1.738259,1.697425,1.786357,1.671592,1.950094,1.847341,1.821497,1.849060,1.771679,1.723731,1.661694,1.746765,2018
63,Punta Arenas y Estrecho de Magallanes,1.788647,1.778794,1.751132,1.756919,1.663059,1.995586,1.873187,1.835725,1.803796,1.771521,1.710834,1.607060,1.762976,2018
64,Torres del Paine y Puerto Natales,1.694073,1.700914,1.640493,1.845750,1.681798,1.718368,1.669854,1.751948,1.901715,1.774637,1.753917,1.737275,1.727053,2018
65,Resto región,1.513514,1.627946,1.596521,1.671987,1.815597,2.218856,2.395068,1.991544,2.029354,1.732767,1.411152,1.405227,1.707153,2018

## Archivo final

In [ ]:
df_final = pd.concat([df2014, df2015, df2016, df2017, df2018])
df_final

,región,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,Total anual,Año
3,Arica y Parinacota,2.134201,1.865553,2.081836,1.778958,1.945236,2.079579,2.030987,2.144699,2.056836,2.013888,2.180765,2.039500,2.035410,2014
4,Arica,2.164515,1.889788,2.079170,1.799996,1.964623,2.095390,2.034672,2.195432,2.085096,2.028732,2.224996,2.083824,2.059864,2014
5,Camarones y Putre,1.360552,1.122606,2.140951,1.183639,1.288735,1.552956,1.847460,1.188119,1.382983,1.622698,1.404314,1.208805,1.430539,2014
6,Tarapacá,2.180394,1.914819,1.978519,1.984737,1.793459,1.866766,1.901293,1.691877,1.861996,1.799223,1.815580,1.806720,1.887761,2014
7,Iquique,2.199544,1.925147,1.974169,1.988620,1.789965,1.861345,1.898688,1.691293,1.866989,1.798435,1.821582,1.813520,1.891172,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Carretera Austral Sur,1.892788,1.538133,1.935417,2.086598,2.910835,1.515487,1.385629,1.916584,1.901571,2.448306,1.603755,1.817542,1.836088,2018
62,Región de Magallanes y de la Antártica Chilena,1.738423,1.738259,1.697425,1.786357,1.671592,1.950094,1.847341,1.821497,1.849060,1.771679,1.723731,1.661694,1.746765,2018
63,Punta Arenas y Estrecho de Magallanes,1.788647,1.778794,1.751132,1.756919,1.663059,1.995586,1.873187,1.835725,1.803796,1.771521,1.710834,1.607060,1.762976,2018
64,Torres del Paine y Puerto Natales,1.694073,1.700914,1.640493,1.845750,1.681798,1.718368,1.669854,1.751948,1.901715,1.774637,1.753917,1.737275,1.727053,2018
65,Resto región,1.513514,1.627946,1.596521,1.671987,1.815597,2.218856,2.395068,1.991544,2.029354,1.732767,1.411152,1.405227,1.707153,2018

In [ ]:
# Cuenta de nulos para cada variable
df_final.isnull().sum()

región         0
enero          0
febrero        0
marzo          0
abril          0
mayo           0
junio          0
julio          0
agosto         0
septiembre     0
octubre        0
noviembre      0
diciembre      0
Total anual    0
Año            0
dtype: int64

## Descargar

In [ ]:
#C2
from google.colab import files

# guardar df como csv
df_final.to_excel('Alojamiento_llegadas_2014-2018.xlsx',sheet_name='Llegadas')

files.download('Alojamiento_llegadas_2014-2018.xlsx')

In [ ]:
#C3
from google.colab import files

# guardar df como csv
df_final.to_excel('Alojamiento_pernoctaciones_2014-2018.xlsx',sheet_name='Pernoctaciones')

files.download('Alojamiento_pernoctaciones_2014-2018.xlsx')

In [ ]:
#C4
from google.colab import files

# guardar df como csv
df_final.to_excel('Alojamiento_estancia_2014-2018.xlsx',sheet_name='Estancia')

files.download('Alojamiento_estancia_2014-2018.xlsx')

In [ ]:
#C5
from google.colab import files

# guardar df como csv
df_final.to_excel('Alojamiento_disponible_2014-2018.xlsx',sheet_name='Disponible')

files.download('Alojamiento_disponible_2014-2018.xlsx')